node_modules
.next
.turbo
dist
build
out
.env
.env.*
!.env.example
!apps/web/.env.local.example
!apps/web-sui/.env.local.example
!apps/api-sui/.env.example
apps/api/.env
apps/web/.env.local

apps/api/dev*.db
apps/api/prisma/**/*.db
apps/api/prisma/**/*.db-journal
apps/api/prisma/**/*.db-shm
apps/api/prisma/**/*.db-wal
apps/api/prisma/.env
apps/api/src/generated/

apps/api-sui/prisma/generated/

apps/api/src/generated/prisma

contracts/out
contracts/cache
contracts/broadcast

*.log
.DS_Store
.pnpm-store/
.tools/

key.pem
.worktrees/
